.footer-container {
    background-color: #242424;
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

i {
    font-size: 45px;
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

i:hover {
    transform: scale(1.1);
}